@charset "EUC-KR";

.nav-link {
	display: inline-block;
}

#option_list{
	padding-left: 20px;
    line-height: 2;
    list-style-image: url("img/check.png");
}
	
#final-participation-list-div{
    overflow-x: hidden;
}

#user-chosen-participation{
    display: inline-block;
}

#user-chosen-participation::before{
	content: none;
}

#prevBtn{
	margin-top: 20px;
	width: 100%;
}