@charset "EUC-KR";
#room_img{
	max-width: 100%;
}

#room_info_div{
	line-height: 150%;
	margin-top: 20px;
}

.left-padding-zero{
	padding-left: 0;
}

.align-center{
	text-align: center;
}

#option_div{
	margin-top: 20px;
}

.background-lightgrey{
	background-color:rgb(255,255,255);
}

.btn-disabled.btn-active{
	margin-top: 20px;
	width: 100%;
	border: 2px solid rgb(54,93,205);
	
}

.btn-disabled{
	color: lightgrey;
}

.btn-active{
	color: rgb(54,93,205);
}

.btn-active{
	margin-top: 20px;
	width: 100%;
	background-color: rgb(54,93,205);
	color: white;
}

.padding-content{
	padding: 20px;
}

.color-title{
	color: #464646;
}

.div-border{
   border: 1px solid #efefef;
}

.font-checkbox{
	margin-left: 5px;
}

.fc-left>h2{
	color: #464646;
}

#option_form{
    line-height: 250%;
}

.reserved-time{
	background-color: lightgrey;
	color: gray;
}

.chosenTime{
	background-color: rgb(54,93,205) !important;
}

.cant-reservation{
	color: #cecece;
	text-decoration: line-through;
}

.fc-future:hover{
	cursor: pointer;
}

.fc-today:hover{
	cursor: pointer;
}

.fc-past{
	color: #cecece;
}

.cant-reserve-time{
	background-color: #cecece; 
    text-decoration: line-through;
}

.time{
	width: 70px; 
    height: 40px;	    
  	padding-top: 8px;
    margin-top: 20px;
    color: white;
    display: inline-block;
    text-align: center;
    border: 1px solid darkgray;
}

.chosenDate{
	height:100px;
	background-color: rgba(166, 166, 239, 0.5);
}

.start{
	
}

.end{
	color: white;
    font-size: small;
}