<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 예약 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.gsitm.mrs.mappers.ReservationMapper">
	<sql id="roomInfo_columns">
		roomNo, roomName, roomName, workplaceName, workplaceAddress, capacity, nwAvailable, image, adminName
	</sql>
	
	<!-- 사용자 -->
	
	<!-- 마이페이지 예약현황 조회 -->
	<select id="getReservationInfo" resultType="Map">
		SELECT res_no                            AS reservationNo, 
		       e.name                            AS empName,
		       room_no                           AS roomNo, 
		       r.NAME 							 AS reservationName,
		       purpose, 
		       To_char(start_date, 'YYYY-MM-DD') AS startDate, 
		       To_char(end_date, 'YYYY-MM-DD')   AS endDate, 
		       snack_want                        AS snackWant, 
		       status 
		FROM   reservation r,
			   employee e
		WHERE  r.emp_no = e.emp_no
			   AND e.emp_no = #{employeeNo} 
	</select>
	
	<!-- 마이페이지 캘린더 상세 조회 -->
	<select id="getCalendarInfo" resultType="Reservation">
		SELECT res_no                            AS reservationNo, 
		       e.name                            AS empName,
		       room_no                           AS roomNo, 
		       r.NAME 							 AS reservationName,
		       purpose, 
		       To_char(start_date, 'YYYY-MM-DD') AS startDate, 
		       To_char(end_date, 'YYYY-MM-DD')   AS endDate, 
		       snack_want                        AS snackWant, 
		       status 
		FROM   reservation r,
			   employee e
		WHERE  r.emp_no = e.emp_no
			   AND e.emp_no = #{employeeNo}
	</select>
	
	<!-- 마이페이지 목록형 조회 -->
	<select id="getReservationList" resultType="Map">
		SELECT	r.res_no						AS reservationNo,
				r.name							AS reservationName,
				purpose,
				room_no							AS roomNo,
				To_char(start_date, 'YYYY-MM-DD HH:mm') 	AS startDate, 
		       	To_char(end_date, 'YYYY-MM-DD HH:mm') 		AS endDate,
				d.name							AS departmentName,
				status
		FROM	reservation r,
				lead_department ld,
				department d
		WHERE	r.res_no = ld.res_no
				AND ld.dept_no = d.dept_no
				AND	emp_no = #{employeeNo}
	</select>
	
	<!-- 마이페이지 목록형 예약 취소 -->
	<delete id="deleteReservation">
		DELETE FROM reservation 
		WHERE res_no = #{reservationNo}
	</delete>
		
	<!-- 회의실 정보 조회 -->
	<select id="getRoomInfo" parameterType="int" resultType="Map">
		SELECT <include refid="roomInfo_columns"/>, 
       			LISTAGG(equipmentName,', ') WITHIN GROUP(ORDER BY roomNo) AS equipments       		
		FROM  (SELECT room.room_no      AS roomNo, 
		              room.name         AS roomName, 
		              workplace.name    AS workplaceName, 
		              workplace.address AS workplaceAddress, 
		              room.capacity, 
		              room.nw_available AS nwAvailable, 
		              room.image, 
		              employee.name     AS adminName, 
		              equipment.name    AS equipmentName 
		       FROM   room, 
		              workplace, 
		              employee, 
		              ADMIN, 
		              equipment 
		       WHERE  room.workplace_no = workplace.workplace_no 
		              AND room.admin_id = ADMIN.admin_id 
		              AND ADMIN.emp_no = employee.emp_no 
		              AND room.room_no = equipment.room_no(+) 
		              AND room.room_no = #{roomNo}) 
		GROUP  BY <include refid="roomInfo_columns"/>
	</select>
	
	<!-- 회의실 정보 조회 -->
	<select id="getRoomList" parameterType="int" resultType="Map">
		SELECT <include refid="roomInfo_columns"/>, 
       			LISTAGG(equipmentName,', ') WITHIN GROUP(ORDER BY roomNo)        		
		FROM  (SELECT room.room_no      AS roomNo, 
		              room.name         AS roomName, 
		              workplace.name    AS workplaceName, 
		              workplace.address AS workplaceAddress, 
		              room.capacity, 
		              room.nw_available AS nwAvailable, 
		              room.image, 
		              employee.name     AS adminName, 
		              equipment.name    AS equipmentName 
		       FROM   room, 
		              workplace, 
		              employee, 
		              ADMIN, 
		              equipment 
		       WHERE  room.workplace_no = workplace.workplace_no 
		              AND room.admin_id = ADMIN.admin_id 
		              AND ADMIN.emp_no = employee.emp_no 
		              AND room.room_no = equipment.room_no(+) 
		              AND room.workplace_no = #{workplaceNo}) 
		GROUP  BY <include refid="roomInfo_columns"/>
	</select>
	
	<!-- 회의실 비품 목록 조회 -->
	<select id="getEquipmentList" parameterType="int" resultType="Map">
		SELECT *
		FROM equipment
		JOIN room
		USING(room_no)
		WHERE room_no=#{roomNo}
	</select>
	
	
	<!-- 관리자 -->
	
	<!-- 승인 대기 목록 조회 -->
	<select id="getWaitingList" resultType="Map">
		SELECT r.res_no         					AS reservationNo, 
		       w.mgr_approval   					AS managerApproval, 
		       w.admin_approval 					AS adminApproval, 
		       r.name           					AS resName, 
		       r.purpose, 
		       room.name        					AS roomName, 
		       To_char(r.start_date, 'YYYY-MM-DD HH:mm') 	AS startDate, 
		       To_char(r.end_date, 'YYYY-MM-DD HH:mm') 		AS endDate, 
		       e.name           					AS empName, 
		       e2.name          					AS mgrName
		FROM   waiting w, 
		       reservation r, 
		       room room, 
		       employee e, 
		       employee e2 
		WHERE  w.res_no = r.res_no 
		       AND r.room_no = room.room_no 
		       AND r.emp_no = e.emp_no 
		       AND e.mgr_no = e2.emp_no 
		       AND r.status = 0
		       AND ( w.mgr_approval = 'W' OR w.admin_approval = 'W' ) 
		ORDER BY r.res_no
	</select>
	
	<!-- 승인 반려 목록 조회 -->
	<select id="getApprovalCancelList" resultType="Map">
		SELECT r.res_no     							 AS reservationNo, 
		       r.name       							 AS resName, 
		       r.purpose, 
		       room.name    							 AS roomName, 
		       To_char(r.start_date, 'YYYY-MM-DD HH:mm') AS startDate, 
		       To_char(r.end_date, 'YYYY-MM-DD HH:mm')   AS endDate, 
		       e.name       							 AS empName, 
		       refuse.reason 
		FROM   reservation r, refuse, room, employee e 
		WHERE  r.res_no = refuse.res_no 
       	AND r.room_no = room.room_no 
       	AND r.emp_no = e.emp_no 
       	AND r.status = 2 
       	ORDER BY r.res_no
	</select>
	
	<!-- 예약 완료 목록 조회 -->
	<select id="getSuccessList" resultType="Map">
		SELECT r.res_no         					AS reservationNo, 
		       r.name           					AS resName, 
		       r.purpose, 
		       room.name        					AS roomName, 
		       To_char(r.start_date, 'YYYY-MM-DD HH:mm') 	AS startDate, 
		       To_char(r.end_date, 'YYYY-MM-DD HH:mm') 		AS endDate, 
		       e.name           					AS empName, 
		       e2.name          					AS mgrName
		FROM   reservation r, 
		       room room, 
		       employee e, 
		       employee e2 
		WHERE  r.room_no = room.room_no 
       AND r.emp_no = e.emp_no 
       AND e.mgr_no = e2.emp_no 
       AND r.status = 1
		ORDER BY r.res_no
	</select>
	
	<!-- 사원 정보 조회 -->
	<select id="getEmployeeInfo" parameterType="String" resultType="Employee">
		SELECT *
		FROM employee
		WHERE emp_no=#{employeeNo}
	</select>
	
	<!-- 초성에 해당하는 사원 목록 조회 -->
	<select id="getEmployeeListByChosung" parameterType="String" resultType="Map">
		SELECT  employee.name 		AS name, 
				emp_no 				AS employeeNo, 
				department.name 	AS departmentName
		FROM employee
		JOIN department 
		USING(dept_no)
		WHERE
		<choose>
			<when test='_parameter.equals("ㄱ")'>
				employee.name BETWEEN '가' AND '나'
			</when>
			<when test='_parameter.equals("ㄴ")'>
				employee.name BETWEEN '나' AND '다'
			</when>
			<when test='_parameter.equals("ㄷ")'>
				employee.name BETWEEN '다' AND '라'
			</when>
			<when test='_parameter.equals("ㄹ")'>
				employee.name BETWEEN '라' AND '마'
			</when>
			<when test='_parameter.equals("ㅁ")'>
				employee.name BETWEEN '마' AND '바'
			</when>
			<when test='_parameter.equals("ㅂ")'>
				employee.name BETWEEN '바' AND '사'
			</when>
			<when test='_parameter.equals("ㅅ")'>
				employee.name BETWEEN '사' AND '아'
			</when>
			<when test='_parameter.equals("ㅇ")'>
				employee.name BETWEEN '아' AND '자'
			</when>
			<when test='_parameter.equals("ㅈ")'>
				employee.name BETWEEN '자' AND '차'
			</when>
			<when test='_parameter.equals("ㅊ")'>
				employee.name BETWEEN '차' AND '카'
			</when>
			<when test='_parameter.equals("ㅋ")'>
				employee.name BETWEEN '카' AND '타'
			</when>
			<when test='_parameter.equals("ㅌ")'>
				employee.name BETWEEN '타' AND '파'
			</when>
			<when test='_parameter.equals("ㅍ")'>
				employee.name BETWEEN '파' AND '하'
			</when>
			<when test='_parameter.equals("ㅎ")'>
				employee.name BETWEEN '하' AND '힣'
			</when>
		</choose>
	</select>
	
	<!-- 검색 키워드에 해당하는 사원 목록 조회  -->
	<select id="getEmployeeListBySearching" parameterType="String" resultType="Map">
		SELECT  employee.name 		AS name, 
				emp_no 				AS employeeNo, 
				department.name 	AS departmentName
		FROM employee
		JOIN department 
		USING(dept_no)
		WHERE employee.name LIKE '%' || #{keyword} || '%'
	</select>
	
	<select id="getDepartmentList" parameterType="Map" resultType="Map">
		SELECT DISTINCT(dept_no), department.name
		FROM department
		JOIN employee
		USING(dept_no)
		WHERE
		<foreach collection="list" item="participation">
			emp_no=#{participation}	OR
		</foreach>
	</select>
</mapper>