<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 자원 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.gsitm.mrs.mappers.ResourceMapper">

	<!-- #### 지사 #### -->

	<!-- 지사 목록 조회 -->
	<select id="getWorkplaceList" resultType="Workplace">
		SELECT workplace_no as workplaceNo, name, address 
		FROM Workplace
		ORDER BY workplace_no
	</select>
	
	<!-- 지사 추가 -->
	<insert id="addWorkplace">
		INSERT INTO WORKPLACE(WORKPLACE_NO, NAME, ADDRESS)
		VALUES(Workplace_Seq.nextval, #{name}, #{address})
	</insert>
	
	<!-- 지사 수정 -->
	<update id="editWorkplace">
		UPDATE Workplace 
		SET name = #{name}, address = #{address}
		WHERE workplace_no = #{workplaceNo}
	</update>
	
	
	<!-- #### 회의실 #### -->
	
	<!-- 회의실 목록 조회 -->
	<select id="getRoomList" resultType="Map">
		SELECT r.room_no      AS roomNo, 
		       r.workplace_no AS workplaceNo, 
		       w.name         AS workplaceName, 
		       r.name         AS roomName, 
		       r.capacity, 
		       r.nw_available AS nwAvailable, 
		       r.image, 
		       e.name		  AS adminName, 
		       d.name		  AS deptName 
		FROM   room r, 
		       workplace w, 
		       ADMIN a, 
		       employee e, 
		       department d 
		WHERE  r.workplace_no = w.workplace_no 
		       AND r.admin_id = a.admin_id 
		       AND a.emp_no = e.emp_no 
		       AND e.dept_no = d.dept_no 
		ORDER  BY r.room_no 
	</select>
	
	<!-- 회의실 추가 -->
	<insert id="addRoom">
		INSERT INTO Room(room_no, workplace_no, name, capacity, nw_available, image, admin_id)
		VALUES (Room_Seq.nextVal, #{workplaceNo}, #{name}, #{capacity}, #{nwAvailable}, #{image}, 'admin_it0003')
		
		<selectKey keyProperty="roomNo" resultType="Integer" order="AFTER"> 
			SELECT Max(Room_no) FROM Room 
		</selectKey>
	</insert>
	
	<!-- 회의실 수정 -->
	<update id="editRoom">
		UPDATE Room 
		SET workplace_no = #{workplaceNo}, name = #{name}, capacity = #{capacity}, nw_available = #{nwAvailable}, image = #{image}
		WHERE room_no = #{roomNo}
	</update>
	
	<!-- #### 비품 #### -->
	
	<!-- 비품 목록 조회 -->
	<select id="getEquipmentList" resultType="Map">
		SELECT e.equip_no as equipNo, r.name as roomName, e.name as equipName, TO_CHAR(e.buy_date, 'YYYY-MM-DD') as buyDate 
		FROM Equipment e, Room r
		WHERE e.room_no = r.room_no
		ORDER BY e.name, r.room_no
	</select>

	<!-- 대여 비품 목록 조회 -->
	<select id="getBorrowedEquipmentList" resultType="BorrowedEquipment">
		SELECT equip_no AS equipmentNo, res_no AS reservationNo
		FROM Borrowed_Equipment
	</select>
	
	<!-- 비품 목록 이름 (중복제거) 조회 -->
	<select id="getEquipmentListDistinct" resultType="String">
		SELECT DISTINCT(name) 
		FROM Equipment
	</select>
		
	<!-- 비품 추가 -->
	<insert id="addEquipment">
		INSERT INTO Equipment(equip_no, room_no, name, buy_date) 
		VALUES (Equipment_Seq.nextVal, #{roomNo}, #{name}, #{buyDate})
	</insert>
	
	<!-- 비품 삭제 -->
	<delete id="deleteEquipment">
		DELETE FROM Equipment 
		WHERE equip_no = #{equipmentNo}
	</delete>
	
	<!-- 비품 수정 -->
	<update id="editEquipment">
		UPDATE Equipment 
		SET name = #{name}, buy_date = #{buyDate} 
		WHERE equip_no = #{equipmentNo}
	</update>
	
</mapper>