<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 통계 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.gsitm.mrs.mappers.StatisticMapper">

	<!-- #### 사용자 #### -->

	<!-- 개인 비용/횟수 전체 통계 -->
	<select id="getIndividual" resultType="map">
		SELECT	count(*)			AS count,
				sum(money)			AS sum
        FROM 	reservation r, 
        		participation p
        WHERE 	r.emp_no = p.emp_no
        AND		r.res_no = p.res_no	
        AND		r.emp_no= #{employeeNo}
	</select>
	
	<!-- 개인 횟수/비용 날짜 통계 -->
	<select id="getIndividualDate" resultType="map">
		SELECT	count(*)			AS count,
				sum(money)			AS sum
        FROM 	reservation r, 
        		participation p
        WHERE 	r.emp_no = p.emp_no
        AND		r.res_no = p.res_no
        AND		(start_date &gt;= #{startDate} AND end_date &lt;= #{endDate})
        AND		r.emp_no= #{employeeNo}
	</select>

	<!-- 소속부서 횟수/비용 전체 통계 -->
	<select id="getDepartment" resultType="map">
		SELECT *              
        FROM 
            (SELECT count(*) as count
             FROM 	lead_department ld
             WHERE	ld.dept_no=(SELECT dept_no
                         	   FROM employee e
                           	   WHERE e.emp_no=#{employeeNo})),
            (SELECT sum(money) as sum
             FROM employee e, participation p, reservation r
             WHERE p.emp_no=e.emp_no
             AND p.res_no=r.res_no
             AND e.dept_no=(SELECT dept_no
                            FROM employee e
                            WHERE e.emp_no=#{employeeNo}))
	</select>
	
	<!-- 소속부서 횟수/비용 날짜 통계 -->
	<select id="getDepartmentDate" resultType="map">
		SELECT *              
        FROM 
            (SELECT count(*) as count
             FROM 	lead_department ld, reservation r
             WHERE 	(start_date &gt;= #{startDate} AND end_date &lt;= #{endDate})
             AND 	ld.dept_no=(SELECT dept_no
                         	   FROM employee e
                           	   WHERE e.emp_no=#{employeeNo})),
            (SELECT sum(money) as sum
             FROM employee e, participation p, reservation r
             WHERE p.emp_no=e.emp_no
             AND p.res_no=r.res_no
             AND (start_date &gt;= #{startDate} AND end_date &lt;= #{endDate})
             AND e.dept_no=(SELECT dept_no
                            FROM employee e
                            WHERE e.emp_no=#{employeeNo}))
	</select>
	
	<!-- 사용자 전체 예약 통계 -->
	<select id="getUserAllList" resultType="map">
		SELECT distinct *
        FROM  	(SELECT r.res_no                        AS res_no,
		                r.name							AS reservationName,
						purpose,
						rm.name							AS roomName,
						To_char(start_date, 'YYYY-MM-DD HH24:MI') 	AS startDate, 
				       	To_char(end_date, 'YYYY-MM-DD HH24:MI') 	AS endDate,
						status
        		FROM    reservation r,
						lead_department ld,
						department d,
						room rm
				WHERE	r.res_no = ld.res_no
						AND rm.room_no = r.room_no
						AND ld.dept_no = d.dept_no
						AND	emp_no = #{employeeNo}) data1,
           		(SELECT	r.res_no						AS res_no,
                  		LISTAGG(d.name, ',') WITHIN GROUP (ORDER BY d.name) AS departmentName
	            FROM	reservation r,
	                    lead_department ld,
	                    department d
	            WHERE	r.res_no = ld.res_no
	                    AND ld.dept_no = d.dept_no
	                    AND	emp_no = #{employeeNo}
	            GROUP BY r.res_no) data2
        WHERE data1.res_no = data2.res_no
	</select>
	
	<!-- 사용자 날짜 예약 통계 -->
	<select id="getUserSearchList" resultType="map">
		SELECT distinct *
        FROM  	(SELECT r.res_no                        AS res_no,
		                r.name							AS reservationName,
						purpose,
						rm.name							AS roomName,
						To_char(start_date, 'YYYY-MM-DD HH24:MI') 	AS startDate, 
				       	To_char(end_date, 'YYYY-MM-DD HH24:MI') 	AS endDate,
						status
        		FROM    reservation r,
						lead_department ld,
						department d,
						room rm
				WHERE	r.res_no = ld.res_no
						AND rm.room_no = r.room_no
						AND ld.dept_no = d.dept_no
						AND (start_date &gt;= #{startDate} AND end_date &lt;= #{endDate})
						AND	emp_no = #{employeeNo}) data1,
            			(SELECT	r.res_no						AS res_no,
                    			LISTAGG(d.name, ',') WITHIN GROUP (ORDER BY d.name) AS departmentName
			            FROM	reservation r,
			                    lead_department ld,
			                    department d
			            WHERE	r.res_no = ld.res_no
			                    AND ld.dept_no = d.dept_no
			                    AND	emp_no = #{employeeNo}
			            group by r.res_no) data2
        WHERE data1.res_no = data2.res_no
	</select>

	<!-- #### 관리자 #### -->

	<sql id="reservationList">
		SELECT r.res_no     						AS reservationNo, 
		       e.name       						AS empName, 
		       r.name       						AS resName, 
		       r.purpose, 
		       room.name    						AS roomName, 
		       To_char(start_date, 'YYYY-MM-DD HH24:MI') 	AS startDate, 
		       To_char(end_date, 'YYYY-MM-DD HH24:MI') 	AS endDate, 
		       r.status, 
		       ld.dept_no   						AS departmentNo, 
		       d.name       						AS departmentName, 
		       ld.is_main   						AS isMain 
		FROM   reservation r, 
		       lead_department ld, 
		       department d, 
		       employee e, 
		       room 
		WHERE  r.room_no IN (SELECT room_no 
		                     FROM   room 
		                     WHERE  workplace_no = #{workplaceNo}) 
	       AND r.res_no = ld.res_no 
	       AND d.dept_no = ld.dept_no 
	       AND r.emp_no = e.emp_no 
	       AND room.room_no = r.room_no
	</sql>

	<!-- 지사별 전체 예약 현황 조회 -->
	<select id="getReservationList" resultType="Map">
		<include refid="reservationList"/>
	</select>
	
	<!-- 지사별 예약 현황 검색 -->
	<select id="getSearchList" resultType="Map">
	
		<include refid="reservationList"/>
	       AND ld.dept_no = #{departmentNo}
	       AND ( r.start_date &gt;= #{startDate} AND r.end_date &lt;= #{endDate} ) 
	       
	</select>
	
	<!-- 지사별 회의실 목록 조회  -->
	<select id="getRoomListByWorkplaceNo" resultType="Room">
		SELECT room_no, workplace_no, name 
		FROM Room
		WHERE workplace_no = #{workplaceNo}
		ORDER BY room_no
	</select>
	
</mapper>