<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 통계 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.gsitm.mrs.mappers.StatisticMapper">

	<sql id="reservationList">
		SELECT r.res_no     						AS reservationNo, 
		       e.name       						AS empName, 
		       r.name       						AS resName, 
		       r.purpose, 
		       room.name    						AS roomName, 
		       TO_CHAR(r.start_date, 'YYYY-MM-DD HH:mm') 	AS startDate, 
		       TO_CHAR(r.end_date, 'YYYY-MM-DD HH:mm') 	AS endDate, 
		       r.status, 
		       ld.dept_no   						AS departmentNo, 
		       d.name       						AS departmentName, 
		       ld.is_main   						AS isMain 
		FROM   reservation r, 
		       lead_department ld, 
		       department d, 
		       employee e, 
		       room 
		WHERE  r.room_no IN (SELECT room_no 
		                     FROM   room 
		                     WHERE  workplace_no = #{workplaceNo}) 
	       AND r.res_no = ld.res_no 
	       AND d.dept_no = ld.dept_no 
	       AND r.emp_no = e.emp_no 
	       AND room.room_no = r.room_no
	</sql>

	<!-- 지사 별 전체 예약 현황 조회 -->
	<select id="getReservationList" resultType="Map">
		<include refid="reservationList"/>
	</select>
	
	<!-- 지사 별 예약 현황 검색 -->
	<select id="getSearchList" resultType="Map">
	
		<include refid="reservationList"/>
	       AND ld.dept_no = #{departmentNo}
	       AND ( r.start_date &gt;= #{startDate} AND r.end_date &lt;= #{endDate} ) 
	       
	</select>
	
</mapper>