@charset "EUC-KR";
#room_img{
	max-width: 100%;
}

#room_info.div{
	line-height: upset;
}

#room_info_div{
	margin-top: 20px;
	background-color:#dcdcdc;
	padding: 15px;
	color: black;
}

.padding-zero{
	padding: 0;
}

.align-center{
	text-align: center;
}