<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Demystifying Email Design</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin: 0; padding: 0;">
	<table align="center" cellpadding="0" cellspacing="0" width="600" style="text-align: center; color: #153643; ">
		<tr>
			<td align="center"  style="padding: 20px 0 20px 0;">
				<img src="https://postfiles.pstatic.net/MjAxOTA2MjRfODUg/MDAxNTYxMzM4MDk3MzM4.iCvEY-WIVEe93XqXAmEiVH4JNuJfhaGEmEOKOfrVhZ0g.7bF2YG6hAAs0YMfIA7IfvsHJWuHztdTIz1j5hdtCt4wg.JPEG.a_spree/logo_homepage.jpg?type=w773" 
					 width="70%" style="display: block;" />
			</td>
		</tr>
		<tr>
			<td style="padding: 40px 0 40px 0;">
				<table border="1" cellpadding="2" cellspacing="0" width="100%" style="border: 1px #cccccc;">
					<tr>
						<td colspan="2"> 회의실 예약 세부 신청 내역 </td>
					</tr>
					<tr>
						<td> 신청자 </td>
						<td> 이종윤 </td>
					</tr>
					<tr>
						<td> 회의명 </td>
						<td> 어쩌구 </td>
					</tr>
					<tr>
						<td> 기간 </td>
						<td> 언제~언제 </td>
					</tr>
					<tr>
						<td colspan="2" style="padding: 10px 0 10px 0;">
							예약한 시간에 회의실을 사용하지 않아 예약이 강제로 <span style="color: red"><b>취소</b></span>되었습니다.
							
							<br/><br/>
							
							회의실 사용이 종료되었습니다.
							
							<br/><br/>
							
							부과된 비용은 다음과 같습니다.
						</td>
					</tr>
					<tr>
						<td colspan="2" >
							<table border="1" cellpadding="5" cellspacing="0" width="100%" style="border: 1px #cccccc;">
								<tr>
									<td width="40%"> 이용 시간 </td>
									<td> 2시간 </td>
								</tr>
								<tr>
									<td> 총 금액 </td>
									<td> 1000000원 </td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="2" >
							<table border="1" cellpadding="5" cellspacing="0" width="100%" style="border: 1px #cccccc;">
								<tr>
									<td width="40%"> 인사파트 </td>
									<td> 50000원 </td>
								</tr>
								<tr>
									<td> 재무팀 </td>
									<td> 60000원 </td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="2" >
							<table border="1" cellpadding="5" cellspacing="0" width="100%" style="border: 1px #cccccc;">
								<tr style="background: #4e73df; color: white;">
									<th width="30%"> 참석자 </th>
									<th width="30%"> 부서 </th>
									<th width="40%"> 가격 </th>
								</tr>
								<tr>
									<td> 이종윤 </td>
									<td> 리테일사업센터 </td>
									<td> 4000원 </td>
								</tr>
								<tr>
									<td> 김나윤 </td>
									<td> 홈쇼핑채널파트 </td>
									<td> 3000원 </td>
								</tr>
								<tr>
									<td> 김재율 </td>
									<td> 홈쇼핑기간계파트 </td>
									<td> 4000원 </td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>